body {
    background: radial-gradient(circle, #663860, #581964);
    overflow: hidden
}
.title-name{
    color: antiquewhite;
    text-align: center;
}





/* cтартовый экран */
#start-screen {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 40px;
}

#pre-game-screen{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
    border: 1px red solid;
    background-color: white;
}


/* игровой экран */
#game-screen {
    display: flex;
}

.div-avatar{
    position: relative;
    background: white;
    margin: 30px;
    top: -30px;
    width: 300px;
    height: 400px;
    border: 5px red solid;
}

.div-gesture{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    max-width: 450px;
    margin:0 auto;
}
.gesture-btn{
    background: none;
    border:none;
    padding: 0;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    transition: transform 0.25s ease, filter 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.gesture-btn img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    display: block;
}


.gesture-btn:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 12px rgba(0,255,255,0.8));
    box-shadow: 0 0 20px rgba(0,255,255,0.5);
}

.div-hp{
    position: relative;
    margin: 20px;
    height: 100px;
}

.div-round{
    position: absolute;
    background: white;
    border: red 5px solid;
    left: 45%;
    width: 150px;
    height: 100px;
}

.text-round{
    position: relative;
    text-align: center;
    top: -10px;
}

#text-round-count{
    position: relative;
    text-align: center;
    top: -30px;
}

.img-hp{
    margin: 10px;
    width: 100px;
}

.div-nickname{
    position: absolute;
    background: white;
    border: red solid 5px;
    width: 350px;
    height: 100px;
    top: 188px;
    left: 400px;
}

.div-skills{
    position: absolute;
    background: white;
    border: red 5px solid;
    width: 711px;
    height: 450px;
    margin: 30px;
    top: 400px;
}

.skills-btn{
    position: relative;
}

.div-mana{
    position: absolute;
    background: linear-gradient(pink, blue);
    border: red 5px solid;
    width: 90px;
    height: 450px;
    margin: 30px;
    left: 750px;
    top: 400px;
}

#div-mana-count{
    position: relative;
    background-color: white;
    width: 90px;
    height: 350px;
}

#text-mana-count{
    text-align: center;
    color: white;
}

.div-timer{
    position: absolute;
    background: white;
    border: red 5px solid;
    width: 200px;
    height: 75px;
    left: 85%;
}

#text-timer{
    text-align: center;
}

#confirm-btn{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 85%;
    top: 90%;
}

.div-gesture{
    position: absolute;
    left: 55%;
    top: 30%;
}

#round-screen{
    position: absolute;
    background: linear-gradient(pink, blue);
    border: red 5px solid;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 1100px;
    height: 800px;
}

#text-round-screen{
    position: relative;
}

#text-enemy-move{
    position: relative;
}

#text-round-total{
    position: relative;
}

#text-player-choice{
    position: absolute;
    color: white;
    top: 88%;
    left: 55%;
}

#nick-input{
    background-color: black;
    color: white;
}

#text-nickname{
    position: relative;
    text-align: center;
    top: 10px;
}

#lose-win-screen{
    position: absolute;
    width: 700px;
    height: 500px;
    border: 5px red solid;
    background-color: white;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

#lose-win-text{
    position: relative;
    text-align: center;
}

.div-bot-hp{
    position: absolute;
    left: 70%;
    background-color: white;
}

#avatar-img{
    height: 400px;
}

#div-first-skill{
    position: relative;
    width: 300px;
    height: 100px;
    border: red 5px solid;
    background-color: gray;
}

.div-applied-skill{
    position: absolute;
    left: 400px;
    top: 310px;
    width: 470px;
    height: 100px;
    background-color: white;
    border:5px red solid;
}

#text-applied-skill{
    position: relative;
    text-align: center;
    top: 10px;
}

#multiplayer-screen{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
    border: 1px red solid;
    background-color: white;
}